<html>

<head>
  <style src="widget.css"></style>
</head>

</head>

<body>
  <h1>Foo</h1>
  <a class="wb-link" href="http://example.com">Some link somewhere</a>
  <button class="wb-close">CLOSE!</button>
</body>

</html>